@import '~scss/settings';

.loginForm {
    overflow: hidden;
    box-sizing: border-box;
    background-color: $global-color-white;
    border: 0;
    min-height: 410px;
    width: 100%;
    position: absolute;
    z-index: 1; //For IE
    margin-top: -100px;

    @media (min-width: $breakpoint_tablet) {
        border: 20px solid;
        left: calc(50% - 360px);
        min-height: 480px;
        width: 720px;
    }

    &__headline {
        color: $global-color-black;
        font-size: 18px;
        font-weight: normal;
        font-family: $global-font-headline;
        margin: 0;
        margin-bottom: 27px;
        text-align: center;
        @media (min-width: $breakpoint_tablet) {
            font-size: 36px;
        }
    }

    &__password-forgotten {
        text-align: center;

        a {
            color: $branding-color-one;
            text-decoration: none;
        }

        &-success {
            padding: 120px 0;

            .success-check {
                display: flex;
                justify-content: center;
            }

            h2 {
                color: $global-color-success;
                text-align: center;
            }

            p {
                line-height: 1.33;
                margin: 0 auto;
                max-width: 400px;
                text-align: center;

                span {
                    display: block;
                }
            }
        }
    }

    &__form {

        p {
            margin: 15px 0;
            font-size: 16px;
            @media (min-width: $breakpoint_tablet) {
                font-size: 18px;
            }
        }

        &__label {
            font-size: 14px;
            color: $global-color-darkgrey;
            margin-bottom: 5px;

            @media (min-width: $breakpoint_tablet) {
                font-size: 18px;
            }

            &--float {
                position: absolute;
                left: 0;
                top: 8px;
            }
        }

        &__error {
            color: $global-color-error;
            font-size: 14px;

            @media (min-width: $breakpoint_tablet) {
                font-size: 18px;
            }

            &:not(:last-of-type) {
                margin-top: -10px;
            }
        }

        &__button {
            background-color: $branding-color-one;
            color: $global-color-white;
            text-decoration: none;
            border: 0;
            font-size: 18px;
            min-height: 50px;
            padding: 7px 28px 7px 28px;
            box-sizing: border-box;
            margin: 40px auto 0;
            font-family: $global-font-headline;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            cursor: pointer;
            width: 100%;

            &[disabled] {
                opacity: 0.5;
                cursor: default;
            }

            &__icon {
                fill: $global-color-white;
                width: 36px;
                height: 36px;
                margin-left: 10px;
            }

            @media (min-width: $breakpoint_tablet) {
                font-size: 24px;
                width: 274px;
            }
        }

        input {
            height: 50px;
            border: 2px solid transparent;
            background: $global-color-lightgrey;
            padding: 21px 11px;
            box-sizing: border-box;
            font-size: 24px;
            color: $global-color-black;
            width: 100%;
            margin-top: 7px;
            transition: border 0.3s ease;

            &.ng-invalid.ng-touched {
                border: 2px solid $global-color-error;
            }
        }

        &__fieldset {
            display: block;
            order: 0;
            flex: 0 0 100%;
            width: 100%;
            align-self: auto;
            border: 0;
            padding: 40px 20px;
            box-sizing: border-box;
            margin: 0;

            @media (min-width: 560px) {
                padding: 40px 95px;
            }

            @media (min-width: $breakpoint_tablet) {
                padding: 40px 58px 25px 72px;
            }
        }
    }
}
